body{
  margin: 0;
  padding : 0;
  font-family: sans-serif;
  background: #34495e;
}

.box{
  width : 300px;
  padding : 40px;
  position: absolute;
  top :  50%;
  left : 50%;
  transform : translate(-50%,-50%);
  background: #191919;
  text-align : center;
}

.box input[type="text"], .box input[type="password"]{
   background : none;
   border : 0;
   display: block;
   margin : 20px auto;
   text-align : center;
   border : 2px solid #3498db;
   padding : 14px 10px;
   width : 200px;
   color : white;
   height : 15.33;
   outline : none;
   border-radius: 24px;
   transition : 0.25s;
}

.box h1 {
  color : white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="text"]:focus, .box input[type="password"]:focus{

  padding : 19px 24px;
  border-color : #2ecc71;
}
.box input[type="submit"]
{
  border : 2px solid #3498db;
  background : none;
  color : #bdc3c7;
  border-radius : 24px;
  padding : 9px 16px;
  transition : 0.25s;
}
.box input[type="submit"]:hover
{
  border-color : #2ecc71;
  background : #2ecc71;
  padding : 12px 20px;
  cursor : pointer;
}
